<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/46ffcc0a66.js" crossorigin="anonymous"></script>
    <title>Admin Girişi</title>
</head>
<body>
    <style>
        * {
            margin: 0px;
            padding: 0px;
            text-decoration: none;
            box-sizing: border-box;
            font-family: 'Ubuntu', sans-serif;
        }

        body {
            height: 100vh;
            background-image: url(https://www.milvasoft.com/wp-content/themes/illdy/layout/images/front-page/pattern.png);
        }

        .login-form {
            width: 360px;
            background: #fff;
            padding: 80px 40px;
            border-radius: 3px 30px;
            position: relative;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            border: 2px solid #fff;
            box-shadow: 2px 0px 3px rgba(56, 56, 56, 0.15);
        }

            .login-form img {
                width: 100%;
                height: auto;
                padding: 0px 50px;
            }

        .login-form-title {
            font-size: 17px;
            font-weight: 600;
            text-align: center;
            margin: 25px -42px;
            padding: 7px;
            color: white;
            background-color: #dd8f10;
            border: none;
            box-shadow: 2px 0px 3px rgba(56, 56, 56, 0.15);
        }

        .login-form-textboxes {
            border-bottom: 2px solid #adadad;
            position: relative;
            margin: 30px 0px;
        }

            .login-form-textboxes input {
                font-size: 15px;
                color: #333;
                border: none;
                width: 100%;
                height: 30px;
                outline: none;
                background: none;
                padding: 0 5px;
            }

            .login-form-textboxes span::before {
                content: attr(data-placeholder);
                position: absolute;
                top: 50%;
                left: 5px;
                color: #adadad;
                transform: translateY(-50%);
                z-index: -1;
                transition: .5s;
            }

            .login-form-textboxes span::after {
                content: ' ';
                position: relative;
                width: 100%;
                height: 2px;
                background: linear-gradient(15deg,#213140,#8CAEB7);
                transition: .2s;
            }

        .login-form-button {
            width: 100%;
            height: 35px;
            outline: none;
            display: block;
            border-radius: 25px;
            background-color: #f1d204;
            border: 1px solid #d9d9d9;
            box-shadow: 2px 0px 3px rgba(56, 56, 56, 0.15);
        }

            .login-form-button:hover {
                background-image: linear-gradient(15deg,#f1d204,#dd8f10);
                transition: 15s;
                transition-property: all;
            }
    </style>
    
    <form action="/backofis/Account/Login/?@ViewBag.RedirectUrl" method="POST" class="login-form">
        <img src="" alt="">
        <img src="~/WebBuilderContent/Images/logo.png" alt="MilvaSoft Logo">
        <p class="login-form-title">Admin Girişi</p>
        <div class="login-form-textboxes">
            <input placeholder="Kullanıcı Adı veya Mail" type="text" value="Milva" name="Username">
        </div>
        <div class="login-form-textboxes">
            <input type="password" placeholder="Şifre" value="4456" name="Password">
        
        </div>
        <input type="submit" class="login-form-button" value="Giriş Yap" >
    </form>
</body>
</html>
