@model UiDataService

@{
    Layout = "~/Views/Shared/_Layout.cshtml";



}


<!--<section id="services-photo-header">
    <div class="bg-image"></div>
    <div class="header-content">
        <p class="header-content-uptitle">Who we are?</p>
        <p class="header-content-title">There are many variations passages of Lorem Ipsum  </p>
        <p class="header-content-subtitle">Let Us Know</p>
        <p>
            <button class="header-content-button"><i class="fas fa-arrow-down"></i></button>
        </p>

    </div>
</section>-->

<section id="our-management-photo-header">

    <div class="our-management-header-up-black"></div>
    <div class="our-management-header-full-black"></div>
    <div class="our-management-header-down-black"></div>
    <div class="our-management-bg-image"></div>
       
    <div class="our-management-header-content-first">
        <p class="our-management-header-content-uptitle">Who we are?</p>
        <p class="our-management-header-content-title">There are many variations passages of Lorem Ipsum  </p>
        <p class="our-management-header-content-subtitle">Let Us Look</p>
        <p>
            <button class="our-management-header-content-button"><i class="fas fa-arrow-down"></i></button>
        </p>

    </div>
</section>

<section id="our-managment-person-description">

    <div class="our-managment-person-description-content">
        <div class="title">OUR MANAGEMENT</div>
        <hr class="our-management-up-hr" style="margin-left:auto; margin-right:auto;" />
        <p class="subtitle">
            On the other hand, we denounce with righteous indignation and dislike men who are so
            beguiled and demoralized by the charms of pleasure of the couch moment, so blinded by desire, that
            they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those
            something else There are many variations of passages of Lorem Ipsum available, but the majority have
            suffered alteration in some form, by injected humour, or informati randomised words which don't look
            even slightly believable.
        </p>
    </div>

    <div class="our-managment-person-description-cards-big-container">
        <div class="our-managment-person-description-cards">

            <div class="ompd-side-card">
                <img src="~/WebBuilderContent/Images/General/ompd-person-one.png" alt="Avatar" style="width:100%">
                <div class="ompd-side-card-container">
                    <h4><b>Jack Smith</b></h4>
                    <p>Chief Executive Officer (CEO)</p>
                </div>
            </div>

            <div class="ompd-side-card">
                <img src="~/WebBuilderContent/Images/General/ompd-person-two.png" alt="Avatar" style="width:100%">
                <div class="ompd-side-card-container">
                    <h4><b>Amelia Bryne</b></h4>
                    <p>Chief Marketing Officer (CMO)</p>
                </div>
            </div>

            <div class="ompd-side-card">
                <img src="~/WebBuilderContent/Images/General/ompd-person-three.png" alt="Avatar" style="width:100%">
                <div class="ompd-side-card-container">
                    <h4><b>Thomas Garcia</b></h4>
                    <p>Chief Development & Engineering Officer (CDEO)</p>
                </div>
            </div>
            <div class="ompd-side-card">
                <img src="~/WebBuilderContent/Images/General/ompd-person-four.png" alt="Avatar" style="width:100%">
                <div class="ompd-side-card-container">
                    <h4><b>James Evans</b></h4>
                    <p>Chief Product Officer (CPO)</p>
                </div>
            </div>


        </div>
        <div class="our-managment-person-description-cards">

            <div class="ompd-side-card">
                <img src="~/WebBuilderContent/Images/General/ompd-person-five.png" alt="Avatar" style="width:100%">
                <div class="ompd-side-card-container">
                    <h4><b>Jack Smith</b></h4>
                    <p>Chief Financial Officer (CFO)</p>
                </div>
            </div>

            <div class="ompd-side-card">
                <img src="~/WebBuilderContent/Images/General/ompd-person-six.png" alt="Avatar" style="width:100%">
                <div class="ompd-side-card-container">
                    <h4><b>Amelia Bryne</b></h4>
                    <p>Chief Operating Officer (COO)</p>
                </div>
            </div>

            <div class="ompd-side-card">
                <img src="~/WebBuilderContent/Images/General/ompd-person-seven.png" alt="Avatar" style="width:100%">
                <div class="ompd-side-card-container">
                    <h4><b>Thomas Garcia</b></h4>
                    <p>Chief Commercial Officer (CCO)</p>
                </div>
            </div>
            <div class="ompd-side-card">
                <img src="~/WebBuilderContent/Images/General/ompd-person-eight.png" alt="Avatar" style="width:100%">
                <div class="ompd-side-card-container">
                    <h4><b>James Evans</b></h4>
                    <p>Managing Director, Americas</p>
                </div>
            </div>


        </div>
    </div>

</section>

<section id="what-is-our-company-description">
    <div class="what-is-our-company-description-title">
        <p>What is Lorem Ipsum?</p>
    </div>

    <div class="what-is-our-company-description-content-big-container">
        <div class="what-is-our-company-description-content">
            <div class="wiocd-contents">
                <i class="wiocd-contents-icon"><img src="~/WebBuilderContent/Images/General/wioc-icon-one.png"></i>
                <p class="wiocd-contents-title">YOUR TITLE</p>
                <p class="wiocd-contents-subtitle">
                    Written in 45 BC. This book is a treatise on the theory of
                    ethics, very popular during the
                    Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a
                    line in
                    section
                </p>
            </div>
            <div class="wiocd-contents">
                <i class="wiocd-contents-icon"><img src="~/WebBuilderContent/Images/General/wioc-icon-two.png"></i>
                <p class="wiocd-contents-title">YOUR TITLE</p>
                <p class="wiocd-contents-subtitle">
                    Lorem Ipsum has been the industry's standard dummy text ever
                    since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
                    type specimen book. It has survived not only five centurie
                </p>
            </div>
            <div class="wiocd-contents">
                <i class="wiocd-contents-icon"><img src="~/WebBuilderContent/Images/General/wioc-icon-three.png"></i>
                <p class="wiocd-contents-title">YOUR TITLE</p>
                <p class="wiocd-contents-subtitle">
                    It is a long established fact that a reader will be
                    distracted by the readable content of a page when looking at its layout. The point of using
                    Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                </p>
            </div>
            <div class="wiocd-contents">
                <i class="wiocd-contents-icon"><img src="~/WebBuilderContent/Images/General/wioc-icon-four.png"></i>
                <p class="wiocd-contents-title">YOUR TITLE</p>
                <p class="wiocd-contents-subtitle">
                    Written in 45 BC. This book is a treatise on the theory of
                    ethics, very popular during the
                    Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a
                    line in
                    section
                </p>
            </div>
        </div>
    </div>
</section>

<section id="our-managment-need-you-know">

    <div class="our-managment-need-you-know-big-tab">
      <div style="display:flex; flex-direction:row; width:100%; justify-content:flex-end;">
        <div class="our-managment-need-you-know-big-tab-title">
            <p>Need To Know</p>
        </div>

        <div class="our-managment-need-you-know-tab">
            <button id="Bussiness-btn" class="tablinks" onclick="openCity(event, 'Bussiness')">Bussiness</button>
            <button id="Market-btn" class="tablinks" onclick="openCity(event, 'Market')">Market agencies</button>
            <button id="Vission-btn" class="tablinks" onclick="openCity(event, 'Vission')">Vission</button>
            <button id="Featured-btn" class="tablinks" onclick="openCity(event, 'Featured')">Featured Services</button>
            <button id="Everything-btn" class="tablinks" onclick="openCity(event, 'Everything')">Everything Else</button>
        </div>
      </div>

        <div class="vr-container-three">
            <div class="vrvrvr-three"></div>
            <div class="vrvr-three"></div>
        </div>

        <div id="Bussiness" class="our-managment-need-you-know-tab-content">
            <div class="omnyn-tab-content-big-container">
                <div class="omnyn-tab-content-text-side">
                    <div class="titleUpOne"><hr style="border:0px solid #000000; width:60px; height:1px; background:#000000; opacity:0.5;" /><p class="titleUpOneContentText">ALWAYS GOOD</p></div>
                    <p class="title">Sed ut perspiciatis unde omnis 1</p>
                    <p class="subtitle">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem.</p>
                    <p class="subtitle">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
                </div>
                <div class="omnyn-tab-content-big-container-img">
                    <img class="omnyn-tab-content-image-side" src="~/WebBuilderContent/Images/General/our-managment-tab-photo.png" alt="">
                </div>
            </div>
        </div>

        <div id="Market" class="our-managment-need-you-know-tab-content">
            <div class="omnyn-tab-content-big-container">
                <div class="omnyn-tab-content-text-side">
                    <div class="titleUpOne"><hr style="border:0px solid #000000; width:60px; height:1px; background:#000000; opacity:0.5;" /><p class="titleUpOneContentText">PERFECT AGENCIES</p></div>
                    <p class="title">Sed ut perspiciatis unde omnis 2</p>
                    <p class="subtitle">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem.</p>
                    <p class="subtitle">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
                </div>
                <div class="omnyn-tab-content-big-container-img">
                    <img class="omnyn-tab-content-image-side" src="~/WebBuilderContent/Images/General/our-managment-tab-photo.png" alt="">
                </div>
            </div>
        </div>

        <div id="Vission" class="our-managment-need-you-know-tab-content">
            <div class="omnyn-tab-content-big-container">
                <div class="omnyn-tab-content-text-side">
                    <div class="titleUpOne"><hr style="border:0px solid #000000; width:60px; height:1px; background:#000000; opacity:0.5;" /><p class="titleUpOneContentText">IMPORTANT THINK</p></div>
                    <p class="title">Sed ut perspiciatis unde omnis 3</p>
                    <p class="subtitle">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem.</p>
                    <p class="subtitle">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
                </div>
                <div class="omnyn-tab-content-big-container-img">
                    <img class="omnyn-tab-content-image-side" src="~/WebBuilderContent/Images/General/our-managment-tab-photo.png" alt="">
                </div>
            </div>
        </div>

        <div id="Featured" class="our-managment-need-you-know-tab-content">
            <div class="omnyn-tab-content-big-container">
                <div class="omnyn-tab-content-text-side">
                    <div class="titleUpOne"><hr style="border:0px solid #000000; width:60px; height:1px; background:#000000; opacity:0.5;" /><p class="titleUpOneContentText">ALWAYS GOOD</p></div>
                    <p class="title">Sed ut perspiciatis unde omnis 4</p>
                    <p class="subtitle">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem.</p>
                    <p class="subtitle">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
                </div>
                <div class="omnyn-tab-content-big-container-img">
                    <img class="omnyn-tab-content-image-side" src="~/WebBuilderContent/Images/General/our-managment-tab-photo.png" alt="">
                </div>
            </div>
        </div>

        <div id="Everything" class="our-managment-need-you-know-tab-content">
            <div class="omnyn-tab-content-big-container">
                <div class="omnyn-tab-content-text-side">
                    <div class="titleUpOne"><hr style="border:0px solid #000000; width:60px; height:1px; background:#000000; opacity:0.5;" /><p class="titleUpOneContentText">ALWAYS GOOD</p></div>
                    <p class="title">Sed ut perspiciatis unde omnis 5</p>
                    <p class="subtitle">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem.</p>
                    <p class="subtitle">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
                </div>
                <div class="omnyn-tab-content-big-container-img">
                    <img class="omnyn-tab-content-image-side" src="~/WebBuilderContent/Images/General/our-managment-tab-photo.png" alt="">
                </div>
            </div>
        </div>

        <script>
            function openCity(evt, cityName) {

                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("our-managment-need-you-know-tab-content");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }
                document.getElementById(cityName).style.display = "block";
                evt.currentTarget.className += " active";
            }
            document.addEventListener("DOMContentLoaded", function () {
                openCity(event, 'Bussiness')
                document.getElementById("Bussiness-btn").classList.add("active");
            });
        </script>
    </div>

</section>

<section id="our-managment-mision-design">

    <div class="our-managment-mision-design-header"></div>

    <div class="our-managment-mision-design-row-big-container">


        <div class="our-managment-mision-design-row-one">
            <div class="our-managment-mision-design-row-one-circle-bottom">
                <div class="our-managment-mision-design-row-one-circle-top">
                    <img class="image" src="~/WebBuilderContent/Images/General/circle-icon.png" alt="">
                    <p class="our-managment-mision-design-row-one-circle-top-text">
                        Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    </p>
                </div>
            </div>
        </div>


        <div class="our-managment-mision-design-row-two">
            <div class="ommdrt-big-container">
                <div class="our-managment-mision-design-row-two-content">
                    <div class="our-managment-mision-design-row-two-content-inside">
                        <div class="our-managment-mision-design-row-two-content-inside-circle">
                            <p class="our-managment-mision-design-row-two-content-inside-circle-icon">
                                <i class="far fa-lightbulb"></i>
                            </p>
                        </div>
                        <div class="our-managment-mision-design-row-two-content-inside-text">
                            <p class="title">Your Title</p>
                            <p>
                                Lorem ipsum dolor sit amet couc, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt drea
                            </p>
                        </div>
                    </div>
                </div>
                <div class="ommdrt-triangle"></div>
            </div>

            <div class="ommdrt-big-container">
                <div class="our-managment-mision-design-row-two-content">
                    <div class="our-managment-mision-design-row-two-content-inside">
                        <div class="our-managment-mision-design-row-two-content-inside-circle">
                            <p class="our-managment-mision-design-row-two-content-inside-circle-icon">
                                <i class="fas fa-chart-line"></i>
                            </p>
                        </div>
                        <div class="our-managment-mision-design-row-two-content-inside-text">
                            <p class="title">Your Title</p>
                            <p>
                                Lorem ipsum dolor sit amet couc, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt drea
                            </p>
                        </div>
                    </div>
                </div>
                <div class="ommdrt-triangle"></div>
            </div>

            <div class="ommdrt-big-container">
                <div class="our-managment-mision-design-row-two-content">
                    <div class="our-managment-mision-design-row-two-content-inside">
                        <div class="our-managment-mision-design-row-two-content-inside-circle">
                            <p class="our-managment-mision-design-row-two-content-inside-circle-icon">
                                <i class="fab fa-mixcloud"></i>
                            </p>
                        </div>
                        <div class="our-managment-mision-design-row-two-content-inside-text">
                            <p class="title">Your Title</p>
                            <p>
                                Lorem ipsum dolor sit amet couc, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt drea
                            </p>
                        </div>
                    </div>
                </div>
                <div class="ommdrt-triangle"></div>
            </div>
        </div>


        <div class="our-managment-mision-design-row-three">
            <div class="our-managment-mision-design-row-three-big-container">
                <p class="our-managment-mision-design-row-three-text">
                    It is a long established fact that a reader will be distracted by the readable content of a
                    page when looking at its layout. The point of using Lorem Ipsum is that it has a
                    more-or-less
                </p>
                <p class="our-managment-mision-design-row-three-text">
                    It is a long established fact that a reader will be distracted by the readable content of a
                    page when looking at its layout. The point of using Lorem Ipsum is that it has a
                    more-or-less
                </p>
                <p class="our-managment-mision-design-row-three-text">
                    It is a long established fact that a reader will be distracted by the readable content of a
                    page when looking at its layout. The point of using Lorem Ipsum is that it has a
                    more-or-less
                </p>
            </div>
        </div>


    </div>



</section>

<section id="our-managment-projects-and-other">

    <div class="our-managment-projects-and-other-title">
        <p>The point of using lorem ipsum is that</p>
    </div>

    <div class="our-managment-projects-and-other-big-container">

        <div class="our-managment-projects-and-other-content">
            <div class="title-container">
                <p class="title-left-and-right">{</p>
                <p class="title">1200</p>
                <p class="title-left-and-right">}</p>
            </div>

            <p class="description">Chemical Materials</p>
            <p class="subtitle">
                It is a long established fact that a reader will be distracted by the readable
                content
            </p>
        </div>
        <div class="our-managment-projects-and-other-content">
            <div class="title-container">
                <p class="title-left-and-right">{</p>
                <p class="title">1200</p>
                <p class="title-left-and-right">}</p>
            </div>
            <p class="description">Chemical Materials</p>
            <p class="subtitle">
                It is a long established fact that a reader will be distracted by the readable
                content
            </p>
        </div>
        <div class="our-managment-projects-and-other-content">
            <div class="title-container">
                <p class="title-left-and-right">{</p>
                <p class="title">1200</p>
                <p class="title-left-and-right">}</p>
            </div>
            <p class="description">Chemical Materials</p>
            <p class="subtitle">
                It is a long established fact that a reader will be distracted by the readable
                content
            </p>
        </div>
        <div class="our-managment-projects-and-other-content">
            <div class="title-container">
                <p class="title-left-and-right">{</p>
                <p class="title">1200</p>
                <p class="title-left-and-right">}</p>
            </div>
            <p class="description">Chemical Materials</p>
            <p class="subtitle">
                It is a long established fact that a reader will be distracted by the readable
                content
            </p>
        </div>
    </div>



</section>

<section id="our-values-and-principles">

    <div class="our-values-and-principles-big-container">
        <div class="our-values-and-principles-row-one">
            <p class="title">Our Principles <br class="our-values-and-principles-row-one-title-br">& Values</p>
        </div>

        <div class="our-values-and-principles-row-two">
            <div class="our-values-and-principles-row-two-text-container">
                <p class="title">
                    <i class="fab fa-mixcloud"></i><span style="padding-left: 5px;">
                        Where does it
                        come from?
                    </span>
                </p>
                <p class="subtitle">
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has
                    roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old the
                    more efficient your processes become. the more efficient your processes become.
                </p>
            </div>
            <div class="our-values-and-principles-row-two-text-container">
                <p class="title">
                    <i class="far fa-dot-circle"></i><span style="padding-left: 5px;">
                        Where does it
                        come from?
                    </span>
                </p>
                <p class="subtitle">
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has
                    roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old the
                    more efficient your processes become. the more efficient your processes become.
                </p>
            </div>
            <div class="our-values-and-principles-row-two-text-container">
                <p class="title">
                    <i class="fas fa-laptop"></i><span style="padding-left: 5px;">
                        Where does it
                        come from?
                    </span>
                </p>
                <p class="subtitle">
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has
                    roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old the
                    more efficient your processes become. the more efficient your processes become.
                </p>
            </div>
        </div>
    </div>



</section>

<section id="our-managment-catchword-side">
    <div class="our-managment-catchword-side-header"></div>

    <div class="our-managment-catchword-side-big-container">
        <div class="our-managment-catchword-side-text-container">
            <p class="title"><img src="~/WebBuilderContent/Images/General/our-managment-catchword-icon.png"> Built on Trust</p>
            <p class="subtitle">
                Technologies focuses on technology and innovation in the areas of thin film
                deposition with a special focus on Atomic Lr Deposition dup. Nemo enim ipsam voluptatem quia
                voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolo quirandfnag ratione
                voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet magni
                dolores eos rationebkh voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum
                quia dolor sit amet.
            </p>
        </div>
        <div class="our-managment-catchword-contact-us-button">
            <button>Contact Us</button>
        </div>
    </div>


</section>

<section id="who-work-with-side">

    <div class="who-work-with-side-text-container">
        <p class="title">WHO WORK WITH</p>
        <p class="subtitle">
            On the other hand, we denounce with righteous indignation and dislike men who are so
            beguiled and demoralized by the charms of pleasure of the konv couch moment, so blinded by desire,
            that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to
            those obligation something else There are many variations of passages of Lorem Ipsum available, but
            the majority have suffered alteration in some form, by injected humour, or randomised words which
            don't look even slightly believable.
        </p>
    </div>


    <div class="who-work-with-side-image-container">
        <div class="who-work-with-side-image-container-col">
            <div class="image-container">
                <img src="~/WebBuilderContent/Images/General/who-work-with-icon-1.png" alt="">
            </div>
            <div class="image-container">
                <img src="~/WebBuilderContent/Images/General/who-work-with-icon-2.png" alt="">
            </div>
            <div class="image-container">
                <img src="~/WebBuilderContent/Images/General/who-work-with-icon-3.png" alt="">
            </div>
            <div class="image-container">
                <img src="~/WebBuilderContent/Images/General/who-work-with-icon-4.png" alt="">
            </div>
            <div class="image-container">
                <img src="~/WebBuilderContent/Images/General/who-work-with-icon-5.png" alt="">
            </div>

            <div class="image-container">
                <img src="~/WebBuilderContent/Images/General/who-work-with-icon-6.png" alt="">
            </div>
            <div class="image-container">
                <img src="~/WebBuilderContent/Images/General/who-work-with-icon-7.png" alt="">
            </div>
            <div class="image-container">
                <img src="~/WebBuilderContent/Images/General/who-work-with-icon-8.png" alt="">
            </div>
            <div class="image-container">
                <img src="~/WebBuilderContent/Images/General/who-work-with-icon-9.png" alt="">
            </div>
            <div class="image-container">
                <img src="~/WebBuilderContent/Images/General/who-work-with-icon-10.png" alt="">
            </div>

            <div class="image-container">
                <img src="~/WebBuilderContent/Images/General/who-work-with-icon-11.png" alt="">
            </div>
            <div class="image-container">
                <img src="~/WebBuilderContent/Images/General/who-work-with-icon-12.png" alt="">
            </div>
            <div class="image-container">
                <img src="~/WebBuilderContent/Images/General/who-work-with-icon-13.png" alt="">
            </div>
            <div class="image-container">
                <img src="~/WebBuilderContent/Images/General/who-work-with-icon-14.png" alt="">
            </div>
            <div class="image-container">
                <img src="~/WebBuilderContent/Images/General/who-work-with-icon-15.png" alt="">
            </div>


            <div class="image-container">
                <img src="~/WebBuilderContent/Images/General/who-work-with-icon-16.png" alt="">
            </div>
            <div class="image-container">
                <img src="~/WebBuilderContent/Images/General/who-work-with-icon-17.png" alt="">
            </div>
            <div class="image-container">
                <img src="~/WebBuilderContent/Images/General/who-work-with-icon-18.png" alt="">
            </div>
            <div class="image-container">
                <img src="~/WebBuilderContent/Images/General/who-work-with-icon-19.png" alt="">
            </div>
            <div class="image-container">
                <img src="~/WebBuilderContent/Images/General/who-work-with-icon-20.png" alt="">
            </div>
        </div>
    </div>



    <div class="who-work-with-side-text-container-button">
        <button>See More</button>
    </div>


</section>
