
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<section id="home-product-page-header">
    <div class="bg-image"></div>
    <div class="header-text-side">
        <p class="title"> Home Page / Product</p>
        <p class="subtitle">Dual Surface Rough Brushing Machine</p>
    </div>

    <div class="header-circle-container">
        <div class="header-circle">
            <i class="fas fa-flask"></i>
        </div>
        <div class="header-circle">
            <i class="fas fa-puzzle-piece"></i>
        </div>
        <div class="header-circle">
            <i class="fas fa-caret-up"></i>
        </div>
        <div class="header-circle">
            <i class="fas fa-home"></i>
        </div>
        <div class="header-circle">
            <i class="fas fa-water"></i>
        </div>
    </div>

</section>

<section id="home-product-page-big-render">

    <div class="home-product-page-big-render-big-container">

        <div class="home-product-page-big-render-big-menu-side">

            <div class="home-product-page-big-render-big-container-menu">
                <ul>
                    <li><a class="active" href="#home">Wood</a></li>

                    <li><a class="category-text"><span style="padding-right: 5px;"><i class="fas fa-angle-right"></i></span>Panel Lamination</a></li>
                    <li><a href="#news">Full Automatic</a></li>
                    <li><a href="#contact">Semi Automatic</a></li>
                    <li><a href="#about">Compact</a></li>
                    <li><a href="#news">Panel Wrapping</a></li>
                    <li><a href="#contact">Manipulator</a></li>
                    <li><a href="#about">Conveyors</a></li>
                    <li><a href="#about">Surface Cleaning</a></li>

                    <li><a class="category-text"><span style="padding-right: 5px;"><i class="fas fa-angle-right"></i></span>Wrapping & Coating</a></li>
                    <li><a href="#news">Full Automatic</a></li>
                    <li><a href="#contact">Semi Automatic</a></li>
                    <li><a href="#about">Compact</a></li>
                </ul>
            </div>

        </div>

        <div class="home-product-page-big-render-big-container-content">


            <div class="home-product-page-big-render-content">

                <div class="home-product-page-big-render-title">
                    <p class="title">Panel Lamination</p>
                    <p class="subtitle">Home >> Products >> Panel Lamination</p>
                </div>

                <div class="home-product-page-big-render-products-big-container">
                    <div class="home-product-page-big-render-products">

                        <div class="hppb-render-products-container">
                            <div class="hppb-render-products-container-text">
                                <p class="title">VBR 1300-D</p>
                                <div class="line"></div>
                                <p class="subtitle">Dual Surface Rough Brushing Machine</p>
                            </div>
                            <img src="~/WebBuilderContent/Images/General/rectangle17.png" alt="Avatar" style="width:100%">
                        </div>

                        <div class="hppb-render-products-container">
                            <div class="hppb-render-products-container-text">
                                <p class="title">VBR 1300-D</p>
                                <div class="line"></div>
                                <p class="subtitle">Dual Surface Rough Brushing Machine</p>
                            </div>
                            <img src="~/WebBuilderContent/Images/General/rectangle17.png" alt="Avatar" style="width:100%">
                        </div>

                        <div class="hppb-render-products-container">
                            <div class="hppb-render-products-container-text">
                                <p class="title">VBR 1300-D</p>
                                <div class="line"></div>
                                <p class="subtitle">Dual Surface Rough Brushing Machine</p>
                            </div>
                            <img src="~/WebBuilderContent/Images/General/rectangle17.png" alt="Avatar" style="width:100%">
                        </div>
                        <div class="hppb-render-products-container">
                            <div class="hppb-render-products-container-text">
                                <p class="title">VBR 1300-D</p>
                                <div class="line"></div>
                                <p class="subtitle">Dual Surface Rough Brushing Machine</p>
                            </div>
                            <img src="~/WebBuilderContent/Images/General/rectangle17.png" alt="Avatar" style="width:100%">
                        </div>

                        <div class="hppb-render-products-container">
                            <div class="hppb-render-products-container-text">
                                <p class="title">VBR 1300-D</p>
                                <div class="line"></div>
                                <p class="subtitle">Dual Surface Rough Brushing Machine</p>
                            </div>
                            <img src="~/WebBuilderContent/Images/General/rectangle17.png" alt="Avatar" style="width:100%">
                        </div>

                        <div class="hppb-render-products-container">
                            <div class="hppb-render-products-container-text">
                                <p class="title">VBR 1300-D</p>
                                <div class="line"></div>
                                <p class="subtitle">Dual Surface Rough Brushing Machine</p>
                            </div>
                            <img src="~/WebBuilderContent/Images/General/rectangle17.png" alt="Avatar" style="width:100%">
                        </div>

                    </div>

                </div>



                <div class="home-product-change-page-container">
                    <div class="home-product-change-page-buttons">
                        <button>1</button>
                        <button>2</button>
                        <button>3</button>
                        <button><i class="fas fa-arrow-right"></i></button>
                    </div>
                    <div class="home-product-change-page-change-textbox">
                        <div class="number-and-circle">
                            <input type="text" name="" id="">
                            <p class="slash">/</p>
                            <p class="page-counter">43</p>
                        </div>

                        <button>GO TO PAGE</button>
                    </div>
                </div>

            </div>

        </div>

    </div>

</section>