
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<section id="services-photo-header">
    <div class="bg-image"></div>
    <div class="header-content">
        <p class="header-content-uptitle">Services & Supports</p>
        <p class="header-content-title">There are many variations passages of </p>
        <p class="header-content-subtitle">In the middle of text All the Lorem</p>
    </div>
</section>


    <section id="services-and-support-computer-section">

        <div class="services-and-support-section-content">
            <div class="title">SERVİCES & SUPPORT</div>
            <p class="subtitle">There are many variations passages of Lorem Ipsum</p>
        </div>

        <div class="services-and-support-section-computer">

            <div class="computer-section-row-one">

                <div class="computer-section-row-one-column-one sas-text-direction-setting">
                    <div class="computer-section-row-one-column-one-text sas-text-width-setting">
                        <p class="computer-section-rows-title">Surface Coating</p>
                        <p>
                            There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form, by injected humour
                        </p>
                    </div>
                    <div class="computer-section-row-one-column-one-icon sas-icon-setting">
                        <img src="~/WebBuilderContent/Images/General/sas-computer-vector1.png" alt="">
                    </div>
                </div>

                <div class="computer-section-row-two-column-two sas-text-direction-setting">
                    <div class="computer-section-row-two-column-one-text sas-text-width-setting">
                        <p class="computer-section-rows-title">Sell Surface Coating Machines</p>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content of
                            a page when looking at its layout. The point of using Lorem Ipsum
                        </p>
                    </div>
                    <div class="computer-section-row-two-column-one-icon sas-icon-setting">
                        <img src="~/WebBuilderContent/Images/General/sas-computer-vector2.png" alt="">
                    </div>
                </div>

            </div>

            <div class="computer-section-row-two">
                <div class="computer-section-row-two-computer-container"></div>
                <div class="computer-section-row-two-computer-image"></div>
            </div>

            <div class="computer-section-row-three">

                <div class="computer-section-row-three-column-one sas-text-direction-setting">
                    <div class="computer-section-row-three-column-one-icon sas-icon-setting">
                        <img src="~/WebBuilderContent/Images/General/sas-computer-vector3.png" alt="">
                    </div>
                    <div class="computer-section-row-three-column-one-text sas-text-width-setting">
                        <p class="computer-section-rows-title">Machines Repair</p>
                        <p>
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                            voluptatum deleniti atque corrupti quos dolores et quas
                        </p>
                    </div>
                </div>

                <div class="computer-section-row-three-column-two sas-text-direction-setting">
                    <div class="computer-section-row-three-column-one-icon sas-icon-setting">
                        <img src="~/WebBuilderContent/Images/General/sas-computer-vector4.png" alt="">
                    </div>
                    <div class="computer-section-row-three-column-two-text sas-text-width-setting">
                        <p class="computer-section-rows-title">Selling Chemicals Supplies</p>
                        <p>
                            On the other hand, we denounce with righteous indignation and dislike men who are so
                            beguiled and demoralized by the charms of pleasure of the
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="services-and-support-section-bottom">

            <div class="computer-section-bottom-row-one sas-text-direction-setting">
                <div class="computer-section-row-three-column-two-text sas-text-width-setting">
                    <p class="computer-section-rows-title">Sell Machines Part</p>
                    <p>
                        It is a long established fact that a reader will be distracted by the readable content of a
                        page when looking at its layout. The point of using Lorem Ipsum
                    </p>
                </div>
                <div class="computer-section-row-three-column-one-icon sas-icon-setting">
                    <img src="~/WebBuilderContent/Images/General/sas-computer-vector5.png" alt="">
                </div>
            </div>

            <div class="computer-section-bottom-row-two sas-text-direction-setting">
                <div class="computer-section-row-three-column-one-icon sas-icon-setting">
                    <img src="~/WebBuilderContent/Images/General/sas-computer-vector6.png" alt="">
                </div>
                <div class="computer-section-row-three-column-two-text sas-text-width-setting">
                    <p class="computer-section-rows-title">Machines Repair</p>
                    <p>
                        On the other hand, we denounce with righteous indignation and dislike men who are so beguiled
                        and demoralized by the charms of pleasure of the
                    </p>
                </div>
            </div>
        </div>

    </section>

    <section id="why-choose-our-services-side">

        <div class="why-choose-our-services-header parallax"></div>
        <div class="why-choose-our-services-side-content">
            <h2>WHY CHOOSE OUR SERVİCES & SUPPORT</h2>
            <p>There are many variations of passages of Lorem Ipsum available</p>
        </div>

        <div class="why-choose-our-services-cards-big-container">



            <div class="why-choose-our-services-cards">

                <!-- Card 1 -->
                <div class="why-choose-our-services-cards-design">
                    <div class="why-choose-our-services-cards-design-texts">
                        <div class="why-choose-our-services-side-card-icon"><i class="far fa-clock"></i></div>
                        <div class="why-choose-our-services-side-card-title">On Time Service</div>
                        <div class="why-choose-our-services-side-card-content">
                            It is a long established fact that a
                            reader
                            will be distracted by the readable content of a page when looking at its layout. The point
                            of
                            using Lorem Ipsum is that it has a more-or-less normal distribution of letters.
                        </div>
                    </div>
                </div>
                <!-- Card 2 -->
                <div class="why-choose-our-services-cards-design">
                    <div class="why-choose-our-services-cards-design-texts">
                        <div class="why-choose-our-services-side-card-icon"><i class="fas fa-cog"></i></div>
                        <div class="why-choose-our-services-side-card-title">Awesome Support</div>
                        <div class="why-choose-our-services-side-card-content">
                            It is a long established fact that a
                            reader will be distracted by the readable content of a page when looking at its layout. The
                            point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.
                        </div>
                    </div>
                </div>
                <!-- Card 3 -->
                <div class="why-choose-our-services-cards-design">
                    <div class="why-choose-our-services-cards-design-texts">
                        <div class="why-choose-our-services-side-card-icon"><i class="fas fa-users"></i></div>
                        <div class="why-choose-our-services-side-card-title">Expert Advisor</div>
                        <div class="why-choose-our-services-side-card-content">
                            It is a long established fact that a
                            reader will be distracted by the readable content of a page when looking at its layout. The
                            point
                            of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </section>

    <section id="services-and-support-details">
        <div class="services-and-support-details-content">
            <p class="services-and-support-details-content-title">Details</p>
            <p class="services-and-support-details-content-subtitle">
                On the other hand, we denounce with righteous
                indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the
                moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue;
                and equal blame belongs to those
            </p>
        </div>

        <div class="sas-flex-setting-big-container">

            <div class="sas-flex-setting-first-container">

                <div class="sas-details-first-container-photo">
                    <img src="~/WebBuilderContent/Images/General/details-photo-one.png" alt="">
                </div>

                <div class="services-and-support-details-container">
                    <div class="services-and-support-details-container-text">
                        <p class="title">Sed ut perspiciatis unde omnis</p>
                        <p>
                            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                            consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam
                            est, qui dolorem.
                        </p>
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.
                        </p>
                        <p>
                            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                            consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam
                            est, qui dolorem. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.
                        </p>
                    </div>
                </div>
            </div>

            <div class="sas-flex-setting-second-container">

                <div class="services-and-support-details-container">
                    <div class="services-and-support-details-container-text">
                        <p class="title">Sed ut perspiciatis unde omnis</p>
                        <p>
                            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                            consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam
                            est, qui dolorem.
                        </p>
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.
                        </p>
                        <p>
                            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                            consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam
                            est, qui dolorem. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.
                        </p>
                    </div>
                </div>

                <div class="sas-details-second-container">
                    <div class="sas-details-second-container-photo"></div>
                    <div class="sas-details-second-container-photo-computer-image"></div>
                </div>

            </div>
        </div>



    </section>


