@model Entity.Language
@{
    Layout = null;
}


<!--NAVS LİNK -->
<!--<div class="card-header p-0 border-bottom-0">
    <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="custom-tabs-four-tr-tab" data-toggle="pill" href="#tab-tr" role="tab" aria-controls="language-tr-tab" aria-selected="true">TR</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="custom-tabs-four-en-tab" data-toggle="pill" href="#tab-en" role="tab" aria-controls="language-en-tab" aria-selected="false">EN</a>
        </li>
    </ul>
</div>-->
<!-- NAVS CONTENT-->
@if (ViewBag.InsertOrUpdate == WebBuilder.Core.Util.Enums.ViewStatus.Update)
{
    <div class="card-body">
        <div class="tab-content" id="custom-tabs-four-tabContent">
            <!--NAV 1 CONTENT-->
            <div class="tab-pane fade show active" id="tab-tr" role="tabpanel" aria-labelledby="language-tr-tab">
                <form class="form-horizontal" id="postForm">
                    <div class="card-body">
                        <input hidden name="id" value="@Model.Id" />
                        <div class="form-group row">
                            <label for="Name" class="col-sm-4 col-form-label">Dil Adı :</label>
                            <div class="col-sm-8">
                                <input name="Name" class="form-control" type="text" value="@Model.Name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="ShortName" class="col-sm-4 col-form-label">Dil Kısaltması :</label>
                            <div class="col-sm-8">
                                <input name="ShortName" class="form-control" type="text" value="@Model.ShortName">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="isActive" class="col-sm-4 col-form-label">Aktif mi ?</label>
                            <div class="col-sm-8 d-flex align-items-center">
                                <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                    @if (Model.isActive)
                                    {
                                        <input type="checkbox" value="true" checked name="isActive" onclick="ToggleValueChange(this)" class="toggle-value-changer custom-control-input" id="customSwitch3">
                                    }
                                    else
                                    {
                                        <input type="checkbox" value="false"  name="isActive" onclick="ToggleValueChange(this)" class="toggle-value-changer custom-control-input" id="customSwitch3">
                                    }
                                    <label class="custom-control-label" for="customSwitch3"></label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer justify-content-end">
                            <button type="button" class="btn btn-primary" onclick="InserOrUpdate('#postForm')">Kaydet</button>

                        </div>
                    </div>
                </form>
            </div>


        </div>

    </div>
}
else
{
<div class="card-body">
    <div class="tab-content" id="custom-tabs-four-tabContent">
        <!--NAV 1 CONTENT-->
        <div class="tab-pane fade show active" id="tab-tr" role="tabpanel" aria-labelledby="language-tr-tab">
            <form class="form-horizontal" id="postForm">
                <div class="card-body">
                    <input hidden name="id" />
                    <div class="form-group row">
                        <label for="Name" class="col-sm-4 col-form-label">Dil Adı :</label>
                        <div class="col-sm-8">
                            <input name="Name" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="ShortName" class="col-sm-4 col-form-label">Dil Kısaltması :</label>
                        <div class="col-sm-8">
                            <input name="ShortName" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="isActive" class="col-sm-4 col-form-label">Aktif mi ?</label>
                        <div class="col-sm-8 d-flex align-items-center">
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" value="true" checked name="isActive" onclick="ToggleValueChange(this)" class="toggle-value-changer custom-control-input" id="customSwitch3">
                                <label class="custom-control-label" for="customSwitch3"></label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-end">
                        <button type="button" class="btn btn-primary" onclick="InserOrUpdate('#postForm')">Kaydet</button>

                    </div>
                </div>
            </form>
        </div>


    </div>

</div>

}

<script>
    var InsertOrUpdateValue = "@ViewBag.InsertOrUpdate"
     function InserOrUpdate(form) {
         var postDataObject = $(form).serialize();
         if (InsertOrUpdateValue == "Insert") {
             $.ajax({
                 url: "Add",
                 type: "POST",
                 data: postDataObject,
                 cache: false,
                 success: function (json) {
                     if (json.statusCode === 200) {
                         toastr["success"](json.message, "Başarılı")
                         table.ajax.reload();
                     }
                     else if (json.statusCode === 500) {
                         toastr["error"](json.message, "Sunucu tabanlı hata")
                     }
                     return json.data;
                 },
                 error: function (xhr, ajaxOptions, thrownError) {
                     toastr["error"]("Sunucuda hata oluştu.", "İletişim Hatası !")
                 }
             });
         }
         else {
             $.ajax({
                 url: "Update",
                 type: "POST",
                 data: postDataObject,
                 cache: false,
                 success: function (json) {
                     if (json.statusCode === 200) {
                         toastr["success"](json.message, "Başarılı")
                         table.ajax.reload();
                     }
                     else if (json.statusCode === 500) {
                         toastr["error"](json.message, "Sunucu tabanlı hata")
                     }
                     return json.data;
                     $(location).html(response);
                 },
                 error: function (xhr, ajaxOptions, thrownError) {
                     toastr["error"]("Sunucuda hata oluştu.", "İletişim Hatası !")
                 }
             });
         }
         insertOrUpdateModal.modal("toggle");
    }
</script>
